extends layout.pug

block content
    h1(class="text-2xl p-5") Contact
            
    p alkdj aslskdjas dlkaj l
    p alkdj aslskdjas dlkaj l
    p alkdj aslskdjas dlkaj l
    p alkdj aslskdjas dlkaj l
    p alkdj aslskdjas dlkaj l
