extends layout.pug

block content
    h1(class="text-2xl p-5") DOP
        br
        span(class="text-2xl p-5") /Video Editor
    div(class="max-w-3")
        img(src="./img/coming-soon.jpeg" alt="coming soon" class="bg-red-200 max-w-md mx-auto")
    div(class="grid grid-cols-2")
        div(class="mx-10")
            img(src="./img/thinking-of-you-by-stefano-mastronardi-Artlist.00_00_21_05.Still001.jpg", alt="thinking of you by stefano mastronardi Artlist")
        div &nbsp;
        div &nbsp;
        div(class="mx-10")
            img(src="./img/Matcha-Seule-V1.00_19_38_04.Still007.jpg", alt="...")
        div(class="mx-10")
            img(src="./img/Timeline.00_05_25_21.Still002.jpg", alt="...")
        div &nbsp;
        div &nbsp;
        div(class="mx-10")
            img(src="./img/Matcha-Seule-V1.00_00_22_03.Still001.jpg", alt="...")
