doctype html
html(lang="en")
    include includes/head.pug
    body
        div.max-w-3xl.mx-auto
            h1(class="bg-red-300 text-2xl p-3") Vittorio Biscaro
        
            include includes/footer.pug