doctype html
html(lang="en")
    head
        include includes/head.pug
    body(class="bg-blue-100")
        include includes/nav.pug
        div(class="container shadow-lg mx-auto bg-white mt-24 md:mt-18 p-5 rounded-xl prose lg:prose-2xl mx-auto")
            block content
            //- include includes/footer.pug
