doctype html
html(lang="en")
    head
        include includes/head.pug
    body(class="bg-white")
        include includes/nav.pug
        div(class="container mx-auto mt-24 md:mt-18 p-5 rounded-xl prose_ lg:prose-2xl_ mx-auto")
            block content
            //- include includes/footer.pug
