extends layout.pug

block content
    h2 Video
    div(class="aspect-w-16 aspect-h-9 w-full")
        iframe(
            src="https://www.youtube.com/embed/WPrScCHRw8M"
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
        )
