extends ../layout.pug

block content

    div(class="grid md:grid-cols-2")

        div(class="prose ")

            p(class="text-4xl") Hello, I am Vittorio, a Paris based filmmaker. Passionate by images, shapes and movements, I take stills and make videos. 
            
            p(class="text-4xl") Primarly DOP and video editor, I am now seeking the future of filmmaking by learning Virtual Production.
            
            p(class="text-4xl") <strong>BMW Scholarship</strong> for Gobelins Ecole de L’Image.
            
            p(class="text-4xl") Besides music videos, I have worked for:
            
            p(class="text-4xl") <strong>Fisheye L’agence</strong>: <br/> Social Media Content Creator / September - October 2020
            
            p(class="text-4xl") <strong>Renato D’Agostin’s assistant</strong>: <br/> March 2020 - now

            p(class="text-4xl") <strong>BMW Arts & Culture</strong>: <br/> Lewis Bush video presentation at Arles’s Festival -Talk and documentary of Lewis Bush, Lauréat 2020
            
            p(class="text-4xl") <strong>Paris Photo</strong>: <br/> Official Video 2019 Edition
            
            p(class="text-4xl") <strong>Visioprod Paris</strong>: <br/> Digital Capture assistant / September - October 2020
            

        div(class="")
            img(src="../img/20901641__(600x600).jpeg", alt="Vittorio Biscaro" width="500" height="500" class="ml-20")